@import url('./Main.css');

@keyframes scroll {
    0% {
        top: 2px;
    }

    100% {
        top: 15px;
    }
}


header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    background-color: transparent;
    border-bottom: 1px solid grey;
    z-index: 1000;

    .container {
        .nav_container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                font-size: 25px;

                color: white;

                span {
                    color: steelblue;
                    font-size: 35px;
                }
            }

            nav {
                ul {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    li {
                        a {
                            font-size: 16px;
                            color: white;
                        }
                    }

                    .about_li {
                        position: relative;

                        &:hover {
                            .about_submenu {
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        .about_submenu {
                            display: flex;
                            flex-direction: column;
                            border-top: 2px solid steelblue;
                            position: absolute;
                            left: 0;
                            margin-top: 20px;
                            gap: 10px;
                            padding: 15px;
                            background-color: white;
                            visibility: hidden;
                            opacity: 0;
                            transition: all ease 0.3s;

                            li {
                                a {
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    #home_section {
        width: 100%;
        position: relative;
        height: 100vh;
        background-image: url('../images/bck');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        .container {
            height: 100vh;

            .welcome_content_box {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h3 {
                    font-size: 40px;
                    font-weight: 900;
                    color: white;
                }

                p {
                    color: white;
                    font-size: 20px;
                    padding: 20px 0;
                }

                a {
                    font-size: 18px;
                    color: white;
                    background-color: steelblue;
                    padding: 7px 20px;
                    border-radius: 30px;
                    transition: all ease-in-out 0.3s;

                    &:hover {
                        background-color: black;
                    }
                }

                .mouse {
                    width: 25px;
                    height: 45px;
                    border: 2px solid rgba(255, 255, 255, 0.4);
                    border-radius: 15px;
                    cursor: pointer;
                    position: relative;
                    text-align: center;
                    top: 175px;

                    .mouse_wheel {
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: white;
                        display: block;
                        left: 8px;

                        animation: scroll 2s ease 0s infinite normal forwards;
                    }
                }
            }
        }
    }

    #ourteam_section {
        margin: 80px 0;

        .container {
            text-align: center;

            .card_container {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 20px;
                flex-wrap: wrap;
                margin-top: 50px;

                .card {
                    flex-basis: 23%;
                    width: 100%;

                    .card_imgbox {
                        width: 253px;
                        height: 253px;
                        background-image: url('https://preview.colorlib.com/theme/nitro/images/person_6.jpg.webp');
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: relative;
                        overflow: hidden;

                        &:hover {
                            .card_hover_box {
                                left: 0;
                            }
                        }

                        .card_hover_box {
                            padding: 7px;
                            height: 100%;
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 10px;
                            background-color: steelblue;
                            left: -26px;
                            transition: all ease 0.3s;

                            li {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.about_section {
    margin: 80px 0;

    .container {
        text-align: center;

        .about_div {
            margin-top: 50px;
            display: flex;
            width: 100%;
            height: 400px;
            gap: 10px;

            .about_left_side {
                flex-basis: 50%;
                width: 100%;
                background-image: url(../images/hero_1.jpg.webp);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;

            }

            .about_right_side {
                flex-basis: 50%;
                width: 100%;
                padding-left: 100px;
                text-align: left;
                // ul{
                //     li{
                //         line-height: 1.5;
                //     }
                // }
            }
        }
    }
}

.features_section {
    margin: 80px 0;

    .container {
        text-align: center;

    }
}

.portfolio_section {
    margin: 80px 0;

    .container {
        text-align: center;

        .list_div {
            padding-top: 30px;

            ul {
                display: flex;
                justify-content: center;
                gap: 30px;

                li {
                    .all_div {
                        text-decoration: none;
                        width: 70px;
                        height: 35px;
                        background-color: #F5F5F5;
                        color: black;
                        border-radius: 30px;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: #007BFF;
                            color: white;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
}

.card_parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-top: 80px;

    .card {
        width: 200px;
        // border: 1px solid black;
        min-height: fit-content;
        position: relative;

        .img1 {
            width: 100%;
            height: 200px;
        }

        .img2 {
            width: 100%;
            height: 250px;
        }

        .img3 {
            width: 100%;
            height: 270px;
        }

        .img4 {
            width: 100%;
            height: 250px;
        }

        .img5 {
            width: 100%;
            height: 300px;
            position: absolute;
            bottom: 30px;
            left: 0px;
        }

        .img6 {
            width: 100%;
            height: 270px;
            position: absolute;
            bottom: 30px;
            left: 0px;
        }

        .img7 {
            width: 100%;
            height: 120px;
        }

        .img8 {
            width: 100%;
            height: 120px;
        }

        .img9 {
            width: 100%;
            height: 250px;
        }

        .img10 {
            width: 100%;
            height: 250px;
        }

        .img11 {
            width: 100%;
            height: 250px;
        }

        .img12 {
            width: 100%;
            height: 250px;
        }

        .img13 {
            width: 100%;
            height: 250px;
        }
    }
}

.ourServices_section {
    margin: 80px 0;
    background-color: #F8F9FA;

    .container {
        text-align: center;

        .our_card_parent {
            padding-top: 60px;
            display: flex;
            width: 100%;
            gap: 20px;
            align-items: left;
            justify-content: left;
            text-align: left;
            flex-wrap: wrap;

            .our_card {
                flex-basis: 30%;
                width: 100%;

                .icon_style {
                    font-size: 60px;
                    color: #007BFF;

                    a {
                        text-decoration: none;
                        color: #007BFF;
                    }
                }
            }
        }
    }
}

.pricing_section {
    margin: 80px 0;
    background-color: #F8F9FA;

    .container {
        text-align: center;

        .pricing_cards_div {
            display: flex;
            width: 100%;
            height: 600px;
            gap: 20px;

            // padding: 15px;
            .pricing_cards {
                background-color: white;
                flex-basis: 33%;
                height: 400px;

                span {
                    font-size: 50px;
                    color: #007BFF;
                }

                .ul_list_div {
                    display: flex;
                    text-align: start;
                    line-height: 2;

                }

                button {
                    border: none;
                    border-radius: 15px;
                    background-color: #7D756C;
                    width: 100px;
                    height: 35px;
                }
            }
        }
    }

    .text_box_frequently {
        padding-top: 60px;
        display: flex;
        width: 100%;
        gap: 30px;
        align-items: left;
        justify-content: left;
        text-align: left;
        flex-wrap: wrap;

        .fre_text_box {
            flex-basis: 45%;
            width: 100%;

            span {
                padding-top: 50px;
            }
        }
    }

    .web_mobile_div {
        padding-top: 60px;
        width: 100%;
        background-color: white;
        display: flex;
        gap: 30px;

        .l_side {
            flex-basis: 60%;
            width: 100%;
            padding: 20px;
            display: flex;
            gap: 15px;

            .l_left_side {
                flex-basis: 50%;
                width: 100%;
                align-items: left;
                justify-content: left;
                text-align: left;
                line-height: 2;

                .icon_style {
                    font-size: 60px;
                    color: #007BFF;
                }
            }

            .l_right_side {
                flex-basis: 50%;
                width: 100%;
                align-items: left;
                justify-content: left;
                text-align: left;
                line-height: 2;

                .icon_style {
                    font-size: 60px;
                    color: #007BFF;
                }
            }
        }

        .r_side {
            flex-basis: 40%;
            width: 100%;
            padding: 20px;
            background-image: url(../images/about_1.jpg.webp);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.our_blog_section {
    margin: 80px 0;

    .container {
        text-align: center;

        .blog_cards_parent {
            display: flex;
            width: 100%;
            gap: 15px;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding-top: 30px;
            border: 1px solid black;

            .blog_cards {
                width: 330px;

                .first_card {
                    width: 100%;
                    height: 359px;
                }

                .second_card {
                    width: 100%;
                    height: 457px;
                }

                .third_card {
                    width: 100%;
                    height: 495px;
                }

                .card_list_div {
                    // display: flex;
                    // burda list qabag qabaga dusmelidi buna da bax 
                }
            }
        }
    }
}

.contact_section {
    margin: 80px 0;
    background-color: #F8F9FA;

    .container {
        text-align: center;

        .contact_div {
            width: 100%;

            .infor_div {
                display: flex;
                justify-content: space-between;
                padding: 40px;

                i {
                    font-size: 30px;
                    color: #FF7B00;
                }
            }
        }

        .form_div {
            background-color: white;
            height: 400px;
            width: 100%;
            text-align: start;
            padding: 40px;

            .name_div {
                display: flex;
                justify-content: start;
                gap: 10px;

                .text_input {
                    width: 40%;
                    border-radius: 15px;
                    border: 1px solid black;

                }
            }

            .mail_subject_size {
                width: 100%;
                border-radius: 15px;
                border: 1px solid black;
                height: 30px;
            }

            .textarea_box {
                border-radius: 15px;
            }
        }
    }
}

.footer_section {
    margin: 80px 0;
    background-color: #333333;

    .container {
        text-align: center;
        .footer_div_parent{
            width: 100%;
            display: flex;
            padding: 60px 30px;
            gap: 10px;
            text-align: start;
            color:white;
            .footer_div1{
                flex-basis: 40%;
            }
            .footer_div2{
                flex-basis: 20%;
                line-height: 2;
                
            }
            .footer_div3{
                flex-basis: 20%;
                .li_div_icons{
                    ul{
                    display: flex;
                    justify-content: space-between;
                    }
                }
            }
            .footer_div4{
                flex-basis: 20%;
                position: relative;
                .end_input_size{
                    width: 90%;
                    height: 40px;
                    margin-left: 10px;
                    margin-top: 10px;
                    border-radius: 30px;
                }
                button{
                    width: 70px;
                    height: 40px;
                    font-size: 15px;
                    border-radius: 0 30px 30px 0;
                    position: absolute;
                    right: 10px;
                    top: 95px;
                    border: 1px solid blue;
                    background-color: white;
                    color: black;
                }
            }
        }
    }
    hr{
        width: 100%;
        border: 1px solid #717373;
    }
    .copyright_div{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        span{
            font-size: 20px;
            color: #717373;
            padding:40px 0px 80px 0px;

        }
    }
}